{% extends 'partials/base.html.twig' %}
{% do assets.addJs('https://code.jquery.com/jquery-3.3.1.min.js', {group: 'bottom'}) %}
{% do assets.addJs('theme://js/responsive.min.js', {group:'bottom'}) %}
{% block content %}
    <div class="lead text-center">
        <h1>Error!</h1>
        {{ page.content }}
    </div>
{% endblock %}
