{% extends 'partials/base.html.twig' %}
{% do assets.addJs('https://code.jquery.com/jquery-3.3.1.min.js', {group: 'bottom'}) %}
{% do assets.addJs('theme://js/responsive.min.js', {group:'bottom'}) %}
{% block content %}
  <section class="job">
    <div>
      {{ page.content }}
    </div>
    <div class="actions">
      Please apply with your resume to 
      <a href="mailto:apply@turingtalent.io" target="_top">
        apply@turingtalent.io
      </a>
    </div>
  </section>
{% endblock %}
