{% extends 'partials/base.html.twig' %}
{% block content %}
  <section class="main-header normal-font content-padding">
    <div class="columns ml0">
      <div class="col-12">
        <h1 class="normal-font">
          Frontend Engineer
        </h1>
        <h3 class="normal-font">
          at Host Compliance
        </h3>
      </div>
    </div>
  </section>
  <section class="job">
    <div>
      <h3 class="animated fadeInDown">
        About Host Compliance
      </h3>
      <p class="animated fadeInDown">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce feugiat posuere est, ac ultrices tortor hendrerit scelerisque. Nulla quis ligula ut quam elementum condimentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce consequat pretium erat, sed mattis lacus dictum a. Maecenas quis ligula magna, quis accumsan turpis. Nunc pharetra.
      </p>
      <h3 class="animated fadeInDown">
        About Turing Talent
      </h3>
      <p class="animated fadeInDown">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce feugiat posuere est, ac ultrices tortor hendrerit scelerisque. Nulla quis ligula ut quam elementum condimentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce consequat pretium erat, sed mattis lacus dictum a. Maecenas quis ligula magna, quis accumsan turpis. Nunc pharetra.
      </p>
      <h3 class="animated fadeInDown">
        Skills & Experience
      </h3>
      <ul class="animated fadeInDown">
        <li>AngularJS 1.x (3+ years)</li>
        <li>jQuery (3+ years)</li>
        <li>CSS</li>
        <li>Experience with data visualization.</li>
        <li>UX experience</li>
        <li>A passion for fast-paced development and daily releases</li>
      </ul>
      <h3 class="animated fadeInDown">
        Key Responsibilities
      </h3>
      <ul class="animated fadeInDown">
        <li>Expand and improve our AngularJS codebase</li>
        <li>Produce scalable, well written, testable code</li>
        <li>Make constant, measured improvements to the application’s user experience</li>
        <li>Fix defects and add features to our legacy jQuery and HTML based tools</li>
        <li>Assist with refactoring, adding tests, and otherwise improving existing code</li>
        <li>You should also be a person who thrives in an extremely fast-paced environment. We solve hard problems on tight deadlines and release multiple times per week.</li>
      </ul>
    </div>
    <div>
      <button>Apply</button>
    </div>
  </section>
{% endblock %}
