.site-container {
  margin-right: auto;
  margin-left: auto;
  max-width: 900px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  .small-font;
  line-height: normal;
  letter-spacing: normal;
  color: #b7b7b7;
}
::-moz-placeholder { /* Firefox 19+ */
  .small-font;
  line-height: normal;
  letter-spacing: normal;
  color: #b7b7b7;
}
:-ms-input-placeholder { /* IE 10+ */
  .small-font;
  line-height: normal;
  letter-spacing: normal;
  color: #b7b7b7;
}
:-moz-placeholder { /* Firefox 18- */
  .small-font;
  line-height: normal;
  letter-spacing: normal;
  color: #b7b7b7;
}

.top-rectangle{
  height: 8px;
  border-radius: 2px;
  background-color: #f1f1f1;
}

button{
  background-color: #b7b7b7;
  border-color: #b7b7b7;
  line-height: 1.5;
  letter-spacing: 0.10px;
  text-align: center;
  color: #ffffff;
  padding: 4px 6px;
  width: 100%;
  border-radius: 4px;
  border: none;
  cursor: pointer;

  &.primary{
    background-color: #82b604;
    border-color: #82b604;
  }
}

.form-control{
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group{
  margin-bottom: 11px !important;
  label{
    line-height: normal;
    letter-spacing: 0.42px;
    color: #b7b7b7;
    display: block;
    margin-bottom: 4px;
  }
}

.footer{
  max-width: 800px;
  height: 80px;
  border-radius: 2px;
  background-color: #f1f1f1;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  .navbar{
    padding-top: 23px !important;
    padding-bottom: 10px !important;
    margin-top: 6em;
  }
}

.headline{
  line-height: 1.5;
  letter-spacing: normal;
  color: #4a4a4a;
  margin-top: 27px;
}

.hidden{
  display: none !important;
}

.navbar{
  padding: 10px 24px 20px 16px;

  .navbar-brand{
    padding: 10px  0px !important;
  }
  
  .Turing-Talent-Logo{
    vertical-align: middle;
  }
  ul{
    list-style: none;
    margin: 0px;
    li{
      margin: 0px;
    }
  }
  .nav-item{
    white-space: nowrap;
    text-decoration: none;
    text-align: right;
    
    padding: 0px 0px 0px 15px;
    line-height: 20.36px;
    cursor: pointer;

    a{
      color: #b7b7b7;
      border: none;
      text-decoration: none !important;
      -webkit-transition: color 200ms linear;
      -ms-transition: color 200ms linear;
      transition: color 200ms linear;
    }
    
    a:hover, a.active{
      -webkit-transition: color 200ms linear;
      -ms-transition: color 200ms linear;
      transition: color 200ms linear;
      color: #9b9b9b;
    }
  }
}

*:focus {
  box-shadow: none !important;
  outline: none !important;
}

.small-font{
  font-family: 'Inconsolata', monospace !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-stretch: normal !important;
  font-weight: normal !important;
  font-display: optional;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.normal-font{
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  font-stretch: normal;
  font-display: optional;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content-padding{
  max-width: 800px;
  margin: auto;
}

.banner-section{
  max-width: 900px;
  height: 400px;
  border-radius: 4px;
  background-color: #5fb7e0;
  color: #ffffff;
  padding: 75px 15px 15px 15px;

  .padded{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  p{
    height: 128px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    letter-spacing: 0.42px;
    color: #ffffff;
  }

  h1{
    font-size: 48px;
    font-weight: 900;
    line-height: normal;
    color: #ffffff;
    min-height: 66px;
    max-width: 800px;
    margin: auto;
    margin-bottom: 30px;
  }

  .oval{
    position: absolute;
    padding: 50px;
    top: -58px;
    background-color: #5fb7e0;
    border-radius: 204px;
    right: -42px;

    object{
      height: 173px;
      width: 173px;
    }
  }

  .image{
    margin-top: 40px;
    margin-left: 8px;
    position: relative;
  }

  .text-section{
    z-index: 1;
  }

  .image-section{
    z-index: 0;
  }
}

.pl0{
  padding-left: 0px;
}

.left-border{
  border-radius: 2px;
  border-left: solid 10px #f1f1f1;
}

.title{
  margin-top: 5px;
  height: 22px;
  font-size: 16px;
  font-weight: @boldWeight;
  line-height: normal;
  letter-spacing: 0.10px;
  color: #686868;
}

.mb0{
  margin-bottom: 0px !important;
}

.tt-section{
  margin-top: 40px;
  h3{
    min-height: 32px;
    font-size: 24px;
    font-weight: @boldWeight;
    line-height: normal;
    letter-spacing: 0.10px;
    color: #82b604;
    margin-bottom: 16px;
    padding-left: 40px;
  }

  .tt-section-content{
    font-size: 24px;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.42px;
    color: #686868;
    .pl0;
    
    &.small{
      line-height: 24px;
      letter-spacing: normal;
      color: #4a4a4a;
    }
  }

  .divided-sects{
    margin-top: 40px;
    .image{
      height: 70px;
    }
    .content{
      margin-top: 12px;
      line-height: 20px;
      letter-spacing: normal;
      color: #686868;
      ul, ol{
        list-style: none;
        margin: 0px;
        margin-left: 10px;
      }
      li{
        &::before{
          content: "\005F";
          margin-right: 5px;
          font-size: 12px;
          margin-left: -10px;
        }
      }
    }
  }
}

// pricing page
.pricing{
  .title{
    margin-top: 24px;
  }
  .total-price{
    text-align: center;
    display: table-caption;
    margin-left: auto;
    display: table;
    .est{
      line-height: normal;
      letter-spacing: normal;
      color: #b7b7b7;
      margin-top: 60px;
    }
    .rectangle{
      height: 83px;
      min-width: 176px;
      border-radius: 4px;
      border: solid 1px #b7b7b7;
      text-align: center;
      position: relative;

      .price-label{
        height: 33px;
        overflow: hidden;
        font-size: 32px !important;
        font-weight: bold !important;
        line-height: normal;
        letter-spacing: normal;
        color: #686868;
        vertical-align: middle;
        position: absolute;
        top: 16px;
        left: 0;
        right: 0;
        .value{
          height: 33px;
        }
        .loader{
          height: 18px;
        }
      }

      .time{
        position: absolute;
        top: 53px;
        left: 0;
        right: 0;
        line-height: normal;
        letter-spacing: normal;
        color: #686868;
      }
    }
  }

  .tab{
    border-bottom: none;
    margin-top: 16px;
    .tab-item{
      line-height: 24px;
      letter-spacing: normal;
      color: #4a4a4a;
      margin-right: 24px;   
      flex: 0 0 0;
      &:first-child{
        a{
          padding-left: 0px !important;
        }
      }
      &.active{
        a{
          color: #048ab6;
          border-bottom-color: #048ab6;
        }
      } 
      &:hover{
        a{
          color: #048ab6;
        }
      }
    }
  }

  .tab-containers{
    .columns{
      margin-left: 0px !important;
      margin-top: 11px;
    }

    .tab-content{
      display: none;
      position: relative;
      &#servic-tab  .option{
        margin-right: 2px !important;
        padding: 7px 12px !important;
      }
      // &#dev-tab button{
      //   margin-top: 87px !important;
      // }
      button{
        // position: absolute;
        margin-top: 40px;
      }
      &.active{
        display: block;
      }

      .details{
        min-height: 98px;
      }
    }

    .options{
      .option{
        margin-right: 12px;
        margin-bottom: 16px;
        padding: 7px 17px;
        border-radius: 4px;
        border: solid 1px #b7b7b7;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #4a4a4a;
        display: inline-block;
        cursor: pointer;
        &.active, &:hover{
          background-color: #82b604;
          border: solid 1px #82b604;
          color: #ffffff;
          -webkit-transition: background-color 200ms linear;
          -ms-transition: background-color 200ms linear;
          transition: background-color 200ms linear;
        }
      }
    }
  }
}

// job page //
.main-header{
  margin-bottom: 32px;
  margin-top: 7px;
  color: #9b9b9b;
  .columns{
    padding: 0px 15px !important;
  }
  h1{
    font-size: 48px; 
    font-weight: 900;
    margin-bottom: 5px;
  }

  h3{
    font-size: 24px;
    font-weight: 800;
  }
}

.bitmap {
  width: 160px;
  height: 160px;
  object-fit: contain;
}

object{
  pointer-events: none;
}



a:not(.nav-link){
  color: #048ab6 !important;
  text-decoration: none !important;
}

.job{
  .content-padding;
  .small-font;
  max-width: 900px !important;
  .actions{
    padding-left: 50px;
    margin-top: 40px;
  }

  h1{
    .normal-font;
    .content-padding;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 5px;
    letter-spacing: normal;
    color: #9b9b9b;
  }

  h2{
    .normal-font;
    .content-padding;
    font-size: 24px;
    font-weight: 800;
    color: #9b9b9b;
  }

  h3{
    .left-border;
    .normal-font;
    min-height: 32px;
    font-size: 24px;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #82b604;
    padding-left: 40px;
  }

  p{
    .small-font;
    .content-padding;
    line-height: 24px;
    letter-spacing: normal;
    color: #4a4a4a;
    margin-top: 16px;
  }

  * + h3{
    margin-top: 56px;
  }

  ol, ul{
    .small-font;
    .content-padding;
    list-style-position: outside;
    margin-left: 75px;
    margin-top: 16px;

    li{
      ul{
        margin-left: 15px !important;
      }
    }
  }

  button{
    .small-font;
    margin-top: 56px;
    max-width: 385px;
  }
}

.faded-black{
  color: @faded-black !important;
}

.ml0{
  margin-left: 0px !important;
}

.ml-40{
  margin-left: -40px;
}

.ml-50{
  margin-left: -50px;
}

.mt32{
  margin-top: 32px;
}

.about-sect{
  margin-top: 56px;
  h3{
    margin-bottom: 0px !important;
  }
  .title{
    margin-top: 0px !important;
  }
}

input{
  .small-font;
}

.people{
  margin-top: 15px;
  img{
    min-height: 160px;
    margin-bottom: 16px;
  }
  .title{
    margin-bottom: 13px;
  }
  .desc{
    div{
      margin-top: 5px;
    }
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, @animate-distance, 0) rotate(0.001deg);
    -webkit-transform: translate3d(0, @animate-distance, 0) rotate(0.001deg);
    -moz-transform: translate3d(0, @animate-distance, 0) rotate(0.001deg);
    -ms-transform: translate3d(0, @animate-distance, 0) rotate(0.001deg);
    -o-transform: translate3d(0, @animate-distance, 0) rotate(0.001deg);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0) rotate(0.001deg);
    -webkit-transform: translate3d(0, 0, 0) rotate(0.001deg);
    -moz-transform: translate3d(0, 0, 0) rotate(0.001deg);
    -ms-transform: translate3d(0, 0, 0) rotate(0.001deg);
    -o-transform: translate3d(0, 0, 0) rotate(0.001deg);
  }
}

.tab-containers {
  min-height: 245px;
  .col-8{
    overflow: hidden;
  }
}

.fouc{
  opacity: 0;
}


.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 16px;
}
.lds-ellipsis  {
  &.dark{
    div{
      background: #686868 !important;
    }
  }
  div{
    position: absolute;
    top: 5px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

.error{
  border: 1px solid #d66051;
}

.alert-danger {
  color: #d66051;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.tt-section{
  .columns{
    .tt-section-content{
      padding: 0px !important;
    }
  }
}

.normal-size{
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.42px;
  color: #686868;
  padding-left: 0px;
}

.dropdown-toggle{
  margin-top: 10px;
  display: none;
}















//////////////////




#toggle-menu-icon {
  width: 30px;
  height: 17px;
  position: relative;
  display: block;
}
#toggle-menu-icon  {
  &.active{
    .line-1{
      transform: translateY(8.4px) translateX(0) rotate(45deg);
      -webkit-transform: translateY(8.4px) translateX(0) rotate(45deg);
      -moz-transform: translateY(8.4px) translateX(0) rotate(45deg);
    }

    .line-2{
      opacity: 0;
    }

    .line-3{
      transform: translateY(-8.4px) translateX(0) rotate(-45deg);
      -webkit-transform: translateY(-8.4px) translateX(0) rotate(-45deg);
      -moz-transform: translateY(-8.4px) translateX(0) rotate(-45deg);
    }
  }

  .line{
    display: block;
    background: #686868;
    width: 30px;
    height: 3px;
    position: absolute;
    left: 0;
    border-radius: 4px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;

    &.line-1 {
      top: 0;
    }
    &.line-2 {
      top: 50%;
    }
    &.line-3 {
      top: 100%;
    }
  }
}

ol,ul{
  list-style-position: outside !important;
  padding-left: 20px;
}

ul.tab, .divided-sect ul{
    padding-left: 0px !important;
}

.custom-pricing{
  div{
    line-height: 80px;
  }
}