@media (min-width: @screen-sm-min){
  .people{
    margin-bottom: 40px;
  }
  
}

@media (min-width: @screen-md-min){
  .people{
    margin-bottom: 40px;
  }
}

@media (min-width: @screen-lg-min){
  .people{
    margin-bottom: 0px;
  }
}